<nav>
  <div class="site-title">
    <a href="/"><h1 style="margin-bottom: 25px;">Kâğıtsızlar</h1></a>
    <p>Kâğıtlar ithal, imlecimiz bizimdir.</p>
  </div>

  <div id="nav2">
    <div id="kullaniciSelam">
      <% if (currentUser) {%>
      Selam, <%=currentUser.gercekAd %>!
      <% } else { %>
        Selam, okur!
      <% } %>
    </div>
    <ul>     
      <% if (currentUser){ %>
        <% if (title!=="Üye Anasayfa"){%><li><a href="/uyeSayfa">Üye Sayfası</a></li><%}%>
        <%# <li><a href="/geciciEkle">Yeni Ekle</a></li> %>
        <li><a href="/uyeCikisi">Üye Çıkışı</a></li>
          <% if (title!=="Yönetici Sayfası" && currentUser.admin){%><li><a href="/uyeSayfa/yetkili">Yönetici</a></li><%}%>
      <% } else { %>
        <% if (title!=="Üye Girişi"){%> <li><a href="/uyeGirisi">Üye Girişi</a></li><%}%>
      <% } %>
      <% if (title!=="Hakkında"){%><li><a href="/hakkinda">Hakkında</a></li><%}%>
    </ul>
  </div>

</nav>