<%if (mevcutMod==="Öykü Yazma"){%>
    <% switch (currentUser.katilim) {
      case "yazacak": %>
    <div id="oykuKutusu">
      <h3>Bu Haftanın Görevi</h3>
      <p><%= gorev%></p>
      
      <div class="create-blog content">
        <form action="/oykuler/" method="POST">
          <label for="baslik">Başlık</label>
          <input type="text" id="baslik" name="baslik" required>
          <label for="link">Link</label>
          <input type="text" id="link" name="link" required>
          <button>Gönder</button>
        </form>
      </div>
    </div>
    <% break;
      case "yazmayacak": %>
      <div id="yazmaGostergesi" >Öykü yazmayı taahhüt etmediniz.</div>
    <% break;
    default:
    break; } %>   
  <% } %>