   
      <div>
        <span id="tarihMetin"></span>
        <span><%=mevcutMod %>
        </span>
      </div>

<% switch (currentUser.katilim) {
    case "yazacak": %>
    <div id="yazmaGostergesi" >Bu hafta öykü yazacağınızı vaad ettiniz.</div>
  <% break;
    case "yazmayacak": %>
    <div id="yazmaGostergesi" >Bu hafta öykü yazmayacakmışsınız.</div>
  <% break;
    case "yazdi": %>
    <div>Bu haftaki öykünüzü yolladınız.</div>
  <% break;
  default:
  break; } %>    
 
  <% if(!currentUser.aktif){%>
    <div>Atılan bir üyesiniz. Şu an bunu görüyorsanız sitemizin yapımı bitmemiş demektir.</div>
  <% } else { %>
    <div>Aktif bir üyesiniz</div>
  <% } %>