<div id="solKutular">

  <div>        
    <% if (mevcutMod==='Taahhüt'){ %>
    <div class="modMarker">
      <div><%- include ("../../public/choice.svg") %></div>
      <div><h3>Taahhüt Zamanı</h3></div>
    </div>
    <%}else if (mevcutMod==='Öykü Yazma'){%>
      <div class="modMarker">
        <div><%- include ("../../public/pencil.svg") %></div>
        <div><h3>Öykü Yazma Zamanı</h3></div>
      </div>
      <%}%>
  </div>

  <% if (mevcutMod==="Taahhüt"){ %>
    <div id="taahhutKutusu">
      Bu hafta öykü yazacak mısınız?
      <form class="switch-field" id="taahhutDugmesi">
        <input type="radio" id="radio-one" name="katilim" value="yazacak"
        <% if (currentUser.katilim==="yazacak"){%> checked <%} %>/> 
        <label for="radio-one">Evet</label>
        <input type="radio" id="radio-two" name="katilim" value="yazmayacak"
        <% if (currentUser.katilim==="yazmayacak"){%> checked <%} %>/> 
        <label for="radio-two">Hayır</label>
      </form>
      <% if (yazarlar.filter(a=>a.katilim==="yazacak").length > 0) { 
        const yazarList=yazarlar.filter(a=>a.katilim==="yazacak").map(function(elem){return elem.gercekAd;}).join(`, `)%>
        <p> Yazacaklar: <%=yazarList%>.</p>
        <% }else{ %>
          İlk yazan siz olacaksınız.
        <%}%>
    </div>
  <%} %>

  <%if (mevcutMod==="Öykü Yazma"){%>
    <%if (yazarlar.filter(a=>a.katilim!=="yazmayacak").length === 0){%>
      <div style="padding: 15px;">Bu hafta tatil.</div>
    <% }else{ %>
      <% switch (currentUser.katilim) {
        case "yazacak": %>
      <div id="oykuKutusu">
        <h3>Bu Haftanın Görevi</h3>
        <p id="gorevMetni"><%= gorev%></p>
        
        <div class="create-blog content">
          <form action="/oykuler/" method="POST">
            <label for="baslik">Başlık</label>
            <input type="text" id="baslik" name="baslik" required>
            <label for="link">Link</label>
            <input type="text" id="link" name="link" required>
            <button>Gönder</button>
          </form>
        </div>
      </div>
      <% break;
        case "yazmayacak": %>
          <div id="yazmaGostergesi" >Öykü yazmayı taahhüt etmediniz.</div>
      <%
      break;
        case "yazdi": %>
        <div id="yazmaGostergesi" >Bu haftaki öykünüzü yolladınız.</div>
      <%
      break;
      default:
      break; } %>   
    <% } %>
  <% } %>

</div>


<%if (mevcutMod!=="Öykü Yazma" && mevcutMod!=="Taahhüt"){%>
  <%if (yazarlar.filter(a=>a.katilim!=="yazmayacak").length === 0){
    if (new Date().getDay()===1 || new Date().getDay()===2){%>
      <div>Taahhüt zamanını bekleyin.</div>
    <% }else{ %>
      <div>Bu hafta tatil.</div>
    <% } %> 
  <% }else{ %>
    <% switch (currentUser.katilim) {
    case "yazacak": %>
      <div class="uyeStatus" id="yazmaGostergesi2" >Bu hafta öykü yazacağınızı vaad ettiniz.</div>
    <% break;
      case "yazmayacak": %>
    <div  class="uyeStatus" id="yazmaGostergesi2" >Bu hafta öykü yazmayacakmışsınız.</div>
      <% break;
    case "yazdi": %>
      <div class="uyeStatus" id="yazmaGostergesi2" >Bu haftaki öykünüzü yolladınız.</div>
    <% break;
    default:
    break; } %>   
  <% } %> 
<% } %> 

<% if(!currentUser.aktif){%>
  <div class="uyeStatus">Atılan bir üyesiniz. Şu an bunu görüyorsanız sitemizin yapımı bitmemiş demektir.</div>
<% } %>