<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-blog content">
    <form action="/" method="POST">
      <label for="hafta">Hafta</label>
      <input type="text" id="hafta" name="hafta" required>
      <label for="baslik">Başlık</label>
      <input type="text" id="baslik" name="baslik" required>
      <label for="yazar">Yazar</label>
      <input type="text" id="yazar" name="yazar" required>
      <label for="link">Link</label>
      <input type="text" id="link" name="link" required>
      <button>Gönder</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>