<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div id="tarihMetin"></div>


  <%- include("./partials/footer.ejs") %>


</body>

<script src="script_uyeSayfa.js" defer></script>

</html>