<!DOCTYPE html>
<html lang="tr">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <form action="/oykuler" method="POST">
    <button>Gönder</button>
    <textarea class="content" id="yaziKutusu" name="metin">
      
    </textarea>
  </form>  

  <%- include("./partials/footer.ejs") %>
</body>


</html>