@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');


*{
  box-sizing: border-box;
}

html{   
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

body{
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 20px;
  font-family: 'Noto Serif', serif;
  background-color: #ffffff;
  border-top: 6px solid #9d9ad9;
}


/* nav & footer styles */
nav{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding: 10px 0px;
  border-bottom: 1px solid #ddd;
}

nav ul{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
nav li{
  list-style-type: none;
  margin-left: 20px;
}

.site-title{
  min-width: 0;
}

#nav2{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

#kullaniciSelam{
  text-align: right;
}
nav h1{
  font-size: 3em;
}

#kharfi{
  font-size:1.5em; 
  font-weight: 500;
  transition: text-shadow 0.75s ease;
}

#kharfi:hover{
  text-shadow:
  -1.5px -1.5px 0 #000000,
  1.5px -1.5px 0 #000000,
  -1.5px 1.5px 0 #000000,
  1.5px 1.5px 0 #000000;
}


nav p, nav a{
  color: #777;
  font-weight: 300;
  padding-left:10px;
}
footer{
  color: #777;
  text-align: center;
  margin: 80px auto 20px;
  padding-bottom: 15px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

p, h1, h2, h3, a, ul{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}
h1{
  margin-top: 40px;
  margin-bottom: 40px;
}
h2{
  margin-top: 30px;
  margin-bottom: 20px;
}
h3{
  margin-top: 15px;
  margin-bottom: 10px;
}
.content{
  margin-left: 20px;
}


#filtreler{
  text-align: center;    
  margin: 4vh 0px;
  display: flex;
  gap:1vw;
  align-items:stretch;
  justify-content: center;
  flex-wrap: wrap;
}

#yazarSec,#haftaSec, #haftaBaslik{
  cursor: pointer;
}

#haftaBaslik:hover{
  background-color: #21895C;
  transition-duration: 0.35s;
}

button,select{
  font-size:16px;
  min-width: 100px;
  border: none;
  padding: 1vmin;
  border-radius: 1vmin;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  /* height: 100%; */
  cursor: pointer;
}

#sayiMetin{
  text-align: center;
}

table{
  margin:0px;
  border-radius: 2vw;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  border-spacing: 1px 2px;
}

table td{
  padding: 1vw;
}


table th{
  padding: 1vw;
  background-color: #2c2c2c;
  color: #dcddde;
  font-size: 20px;
}

table th:first-child{
  border-radius: 10px 0 0 0;
}

table th:last-child{
  border-radius: 0 10px 0 0;
}

tr:nth-child(even):not(.yorumTablosu){
  filter: brightness(90%);
}

tr:nth-child(odd):hover{
  filter: saturate(200%);
}

tr:nth-child(even):hover{
  filter: saturate(200%) brightness(90%);
}

tr:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#mainTableContainer{
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 4vh 0px 1vh 0px;
}

/* create styles */
.create-blog form{
  max-width: 400px;
  margin: 0 auto;
}

.create-blog h1{
  text-align: center;
}
.create-blog input,
.create-blog textarea{
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}
.create-blog label{
  display: block;
  margin-top: 24px;
}
textarea{
  height: 120px;
}
.create-blog button{
  margin-top: 20px;
  padding: 6px;
  border: 0;
  cursor: pointer;
}


/* UYE SAYFASI============================================================================================= */

/* https://codepen.io/JiveDig/pen/jbdJXR ==========================*/
.switch-field {
	display: flex;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

#radio-one:checked + label {
	background-color: #a5dc86;
	box-shadow: none;
}

#radio-two:checked + label {
	background-color: #b89fa2;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}
/* Alinti bitti========================= */

#taahhutKutusu,#oykuKutusu,#yazmaGostergesi{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #fbfafc;
  padding: 15px;
  margin-bottom: 15px;
}

#taahhutDugmesi{
  margin:8px;
}

#uyeSayfaMain{
  display:flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.uyeStatus{
  margin-bottom: 10px;;
}

#uyeHeader{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40;
}

#uyeHeader >h1{
  margin-top:0;
  margin-bottom: 0;
}

.modMarker{
 display: flex;
 /* box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px; */
 border-bottom:1px solid rgba(136, 165, 191, 0.48) ;
 padding: 0;
 justify-content: flex-start;
 align-content: center;
 gap: 15px;
}

#solKutular{
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

#uyeSayfaContent{
  max-width:50%;
  margin-top:20px;
}

#yorumYuzdesiKutusu{
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  padding: 2vmax;
  text-align: center; 
  margin-bottom: 15px;
  margin-top:20px;
}

#yorumYuzdesiSayisi{
  font-size: 5em;
  text-shadow: 2px 2px 5px black;
}

.yorumTablosu{
  margin:0px;
  border-radius: 0vw;
  border-spacing: 1px 2px;
}

.tabloButonu{
  margin-top:-10px;
  margin-bottom: -10px;
  visibility: hidden;
}


/* Hakkinda=============== */
#teknolojiler{
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

#teknolojiler li{
  display: inline-flex;
  align-items: center;
}

svg.about{
  margin-left: 10px;
  display: block;
}

.visibleLink{
  text-decoration:underline;
}

@media (max-width:700px) { 
  #ul-solUstLinkler{
    flex-direction: column;
    gap:10px;
    text-align:right;
  }

  body{
    margin:0px;
    padding: 10px 10px 0px 10px;
  }

  nav{
    margin: 0px -5px 40px 0px;
  }

  h1>span{
    font-size: 0.8em;
  }

  #uyeSayfaMain{
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  #yorumYuzdesiKutusu{
    order:-1;
  }

  #uyeSayfaContent{
    max-width:95%;
  }

  #uyeHeader{
    flex-direction: column;
    gap: 20px;
    margin-bottom:15px;
    align-items: flex-start;
  }

}

@media (max-width:400px) { 
  h1>span{
    font-size: 0.7em;
  }

}

